.main-div{
    display: block;
    height: 76vh;
    width: 50%;
    align-items: center;
    padding-top: 13%;
    padding-left: 20%;
    margin-top: 32px;
    margin-left: 254px;
background-color: azure;}
.main-div-2{
  
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-top: 3%;
    padding-left: 26%;
}
.button {
    font-size: 1rem;
    margin-top: 2rem;
}