.main-div{
    display: block;
    height: 100vh;
    width: 100%;
    align-items: center;
  
    
    margin-top: 32px;
    margin-left: 20px;

   
}
.main-div-2{
  
    height: 100vh;
    width: 100%;
    align-items: center;
    /* padding-top: 3%;
    padding-left: 26%; */
    
   
}
.button {
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 23px;
display: flex;
align-items: center;
text-align: right;

color: #FFFFFF;

}
.sub-div {
    position: absolute;
    width: 1016px;
    height: 454px;
    left: 356px;
    top: 298px;
    
    background: #FFFFFF;
    /* Box Outline */
    
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
}
.icon-gift {
    position: absolute;
width: 120px;
height: 120px;
left: 192px;
top: 154px;

background: #000000;

}
.icon-video {
    position: absolute;
width: 120px;
height: 120px;
left: 448px;
top: 154px;

background: #EFEFF0;

    
}
.icon-mail {
    position: absolute;
width: 120px;
height: 120px;
left: 704px;
top: 154px;

background: #EFEFF0;

    
}
.scroll {
    position: absolute;
/* width: 200px; */
height: 226px;
/* left: 260px; */
top: 410px;
margin-left:4% !important;
font-family: Nunito !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 25px !important;
line-height: 34px !important;
display: flex !important;
align-items: center !important;
text-align: center !important;
letter-spacing: 0.005em !important;

color: #000000 !important;


}
.live-stream {
    position: absolute;
/* width: 123px; */
height: 226px;
/* left: 570px; */
top: 410px;
/* left:41%; */
margin-left: 25% !important;
font-family: Nunito !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 25px !important;
line-height: 34px !important;
display: flex !important;
align-items: center !important;
text-align: center !important;
letter-spacing: 0.005em !important;

color: #000000 !important;


}
.exclusive-sale {
    position: absolute;
width: 300px;
height: 230px;
/* left: 840px; */
top: 420px;
margin-left: 43% !important;
font-family: Nunito !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 25px !important;
line-height: 34px !important;
display: flex !important;
align-items: center !important;
text-align: center !important;
letter-spacing: 0.005em !important;

color: #000000 !important;


}
.title {
    /* position: absolute;
width: 215px;
height: 34px;
left: 40px;
top: 32px; */
margin-left: 20px;
margin-top: 20px;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 34px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.005em;

color: #000000;

}
.label {
    font-family: Nunito;
font-style: normal;
font-weight: bold !important;
font-size: 17px !important ;
line-height: 23px ;
display: flex !important;
align-items: center !important ;
letter-spacing: 0.005em !important;

color: #000000 !important;

}
.check {
    font-family: "Nunito" !important;
font-style: normal !important;
font-weight: bold !important;
font-size: 17px !important;
line-height: 23px;
display: flex ;
align-items: center;
letter-spacing: 0.005em !important;

color: #000000 !important;

}
.marketplace {
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 36px !important;
line-height: 49px;
display: flex;
align-items: center;
letter-spacing: 0.0025em;

color: #000000;

}
.label2 {
    width: 100%;
    font-family: Nunito;
font-style: normal !important;
font-weight: normal !important;
font-size: 18px !important;
line-height: 25px !important;
/* identical to box height */

display: flex !important;
align-items: center !important;

color: #000000 !important;
margin-top: 10px !important;

}
.template {
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 25px;

/* identical to box height */


text-decoration-line: underline;

color: #000000;

}
.textarea {
    background: transparent !important ;
  color: transparent ;
  resize: none !important;
  border: 0 none !important;
  width: 100% !important;
  font-size: 5em;
  outline: none !important;
 line-height: 1 !important;
  position: absolute;
  border-bottom: 1px solid #C4C4C4 !important;
  font-family: Nunito !important;
}
.newinput {
    font-family: "Nunito" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 17px !important;
    border: 0 none !important;
    outline: 0 !important;
    background: transparent !important;
    border-bottom: 0.1px solid #C4C4C4 !important;
   
}
.daypicker{
    border: 0 none !important;

  outline: none !important;
    
   
}
.under{
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 2px;
display: flex;
align-items: center;
letter-spacing: 0.005em;

color: #AAAAAA;

}
/* .slick-prev:before {
    content: "<" !important ;
    font-size: 20px !important;
    font-weight: bold !important;
  }
  
  .slick-next:before {
    content: ">" !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }   */
  .slick-prev::before {
    content: "\f104" !important;
  font: 40px/1 'FontAwesome' !important;
  font-size: 20px !important;
  font-weight: bold !important;
}
.slick-next::before {
    content: "\f105" !important;
  font: 40px/1 'FontAwesome' !important;
  font-size: 20px !important;
  font-weight: bold !important;
}